<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_X.Properties.Settings.Car_SystemConnectionString"
            connectionString="Driver={SQL Server};server=Darsh;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=DARSH;database=Car_System;statslog_on=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>